label.core-information-item-name {
    font-size: 0.8rem;
    height: 100%;
    overflow-x: hidden;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    width: 100%;
}

input[type="text"].core-information-item-value {
    background: none;
    border: none;
    border-radius: 0;
    font-size: 0.8rem;
    height: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    outline: none;
    overflow-x: hidden;
    padding: 0;
    pointer-events: none;
    width: 100%;
}

input[type="text"].value-centering {
    margin: 0;
    text-align: center;
}

input[type="text"].value-right-aligned {
    margin: 0;
    padding-right: 1rem;
    text-align: right;
}

table#core-information {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

th#core-information-column-1 {
    width: 10%;
}

th#core-information-column-2 {
    width: 30%;
}

th#core-information-column-3 {
    width: 10%;
}

th#core-information-column-4 {
    width: 17%;
}

th#core-information-column-5 {
    width: 13%;
}

th#core-information-column-6 {
    width: 4%;
}

th#core-information-column-7 {
    width: 6%;
}

th#core-information-column-8 {
    width: 10%;
}

td#core-information-item-name-phonetic {
    border: solid 0.01rem #000000;
    border-bottom: none;
    text-align: center;
    vertical-align: middle;
}

td#core-information-item-value-phonetic {
    border: solid 0.01rem #000000;
    border-bottom: dashed 0.01em #000000;
    text-align: left;
    vertical-align: middle;
}

td#core-information-item-name-birth {
    border: solid 0.01rem #000000;
    text-align: center;
    vertical-align: middle;
}

td#core-information-item-value-birth {
    border: solid 0.01rem #000000;
    text-align: left;
    vertical-align: middle;
}

td#core-information-item-name-age {
    border: solid 0.01rem #000000;
    text-align: center;
    vertical-align: middle;
}

td#core-information-item-name-sex {
    border: solid 0.01rem #000000;
    text-align: center;
    vertical-align: middle;
}

td#core-information-item-name-full-name {
    border: solid 0.01rem #000000;
    border-top: none;
    text-align: center;
    vertical-align: middle;
}

td#core-information-item-value-full-name {
    border: solid 0.01rem #000000;
    border-top: none;
    text-align: left;
    vertical-align: middle;
}

td#core-information-item-name-joining-current-company {
    border: solid 0.01rem #000000;
    text-align: center;
    vertical-align: middle;
}

td#core-information-item-value-joining-current-company {
    border: solid 0.01rem #000000;
    text-align: left;
    vertical-align: middle;
}

td#core-information-item-value-age {
    border: solid 0.01rem #000000;
    text-align: center;
    vertical-align: middle;
}

td#core-information-item-value-sex {
    border: solid 0.01rem #000000;
    text-align: center;
    vertical-align: middle;
}

td#core-information-item-name-address {
    border: solid 0.01rem #000000;
    text-align: center;
    vertical-align: middle;
}

td#core-information-item-value-address {
    border: solid 0.01rem #000000;
    text-align: left;
    vertical-align: top;
}

td#core-information-item-name-local-station {
    border: solid 0.01rem #000000;
    text-align: center;
    vertical-align: middle;
}

td#core-information-item-value-local-station {
    border: solid 0.01rem #000000;
    text-align: right;
    vertical-align: top;
}

td#core-information-item-name-academic-background-education {
    border: solid 0.01rem #000000;
    text-align: center;
    vertical-align: middle;
}

td#core-information-item-value-academic-background-education {
    border: solid 0.01rem #000000;
    border-right: none;
    text-align: left;
    vertical-align: middle;
}

td#core-information-item-value-academic-background-education-date {
    border: solid 0.01rem #000000;
    border-left: none;
    text-align: center;
    vertical-align: middle;
}

td#core-information-item-name-academic-background-other {
    border: solid 0.01rem #000000;
    text-align: center;
    vertical-align: middle;
}

td#core-information-item-value-academic-background-other {
    border: solid 0.01rem #000000;
    border-right: none;
    text-align: left;
    vertical-align: middle;
}

td#core-information-item-value-academic-background-other-date {
    border: solid 0.01rem #000000;
    border-left: none;
    text-align: center;
    vertical-align: middle;
}