p.work-experience-report-detail-summary {
    margin-block-start: 0;
    margin-inline-start: 0;
    text-indent: 0.8rem;
}

p.work-experience-report-detail-summary-without-text-indent {
    margin-block-start: 0;
    margin-inline-start: 0;
    padding-left: 0.8rem;
}

ul.work-experience-report-detail-list {
    list-style-type: decimal;
}

a.work-experience-report-detail-button {
    appearance: button;
    color: -internal-light-dark(black, white);
    display: block;
    float: right;
    font-size: 0.8rem;
    height: 2rem;
    margin: 0.5rem;
    text-rendering: auto;
    width: 2.8rem;
}

li.work-experience-report-detail-list-child-title {
    margin-left: 2.4rem;
}

p.work-experience-report-detail-list-child-text {
    font-size: 0.8rem;
    margin-bottom: 0.8rem;
    margin-top: 0;
    padding-left: 1.6rem;
    text-indent: 0.8rem;
}

img.work-experience-report-detail-list-child-image {
    height: 160px;
    padding-left: 250px;
    width: 680px;
}