#list-container {
    width: 100%;
}

.list-child {
    background-color: #565656;
    border: 1px solid #000000;
    color: #ffffff;
    width: 100%;
}

.list-child-chart {
    height: 500px;
    padding-bottom: 3rem;
    width: 100%;
}