.interect-container {
    background-color: #333333;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.interect-year-month {
    background-color: #333333;
    border-top: 1px solid #000000;
    color: #ffffff;
    display: flex;
    height: 100%;
    padding: 1rem;
    width: 5rem;
}

.interect-content-rows {
    border-top: 1px solid #000000;
    flex-direction: row;
    width: 100%;
}

.interect-content-row {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    padding: 0.25rem 1rem 0.25rem 1rem;
    width: 100%;
}

.interect-content-row-word {
    padding: 0rem 1rem 0rem 1rem;
    float: left;
}

.interect-content-row-description {
    padding: 0rem 1rem 0rem 1rem;
    float: left;
}